# Node modules
node_modules/

# Builds
dist/
build/

# Uploads & Processed temporary files
server/uploads/*
!server/uploads/.gitkeep
server/processed/*
!server/processed/.gitkeep

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
